body{
     background-color: rgb(54, 54, 118);
    
    color: white;
    min-height: 100vh;
}
.navBar{
    width: 100%;
    height: 10vh;
    border-radius: 9999px;
    color: white;
    font-size: x-large;
    text-decoration: underline;
    border: solid 2px white;
    background-color: rgb(41, 41, 96);
    text-align: center;
}
.navBar h1{
    padding: 0;
    margin: 0;
    line-height: 10vh;
}
.container{
    width: 40%;
    height: 70vh;
    background-color: rgb(41, 41, 96);
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
.container h1,.container section{
    text-align: center;
}
.container span button{
    height: 5vh;
    width: 15vh;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    border-radius: 9999px;
    background-color: rgb(104, 104, 233);
    color: white;
}
.container .taskList{
    min-height: 50vh;
    width: 90%;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gold;
}